@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Active de la nagevación del sidebar */
.active {
  background: linear-gradient(45deg, #e1e8ff 0%, #ffdaaf 100%);
  color: #181616 !important;
  font-weight: 700;
}

.gradient-table-bg {
  background: linear-gradient(
    0deg,
    rgba(255, 239, 185, 0.74) 0%,
    rgb(255, 255, 255) 90%
  );
}
